/* for all visable seciton */
.visable section{
    padding-top: 30px;
    padding-bottom: 40px;
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* for 一般圖片section的設定 */
.work{
    display: block;
    width:100%;
    margin: 0 auto;
}

/* 客制圖片 */
.six{
    width:60%;
}

.seven{
    width:70%;
}

.eight{
    width:80%;
}

/* 手機尺寸 */
@media(max-width:500px){
    /* 客製圖片改滿版 */
    .work{
        width: 90%;
    }
}

